@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

.modalWindow {
    position: fixed;
    font-family: arial;
    font-size:80%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.framevisualization{
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 90;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: rgba(0,0,1,0.6);*/
    /*-moz-opacity: 0.6;*/
    /*-webkit-opacity: 0.6;*/
    /*opacity: 0.6;*/
    /*visibility:hidden;*/
    position: fixed;
    font-family: arial;
    font-size:80%;
    /*top: 0;*/
    /*right: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.framevisualization:target {
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity:0.8;
    pointer-events: auto;
}

.modalHeader h2 { color: #444; normal 200% 'News Cycle', arial, sans-serif border-bottom: 2px groove #efefef; }
.modalWindow:target {
    opacity:1;
    pointer-events: auto;
}
.modalWindow > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}
.modalWindow .modalHeader  {    padding: 5px 20px 0px 20px; }
.modalWindow .modalContent {    padding: 0px 20px 5px 20px; }
.modalWindow .modalFooter  {    padding: 8px 20px 8px 20px; }
.modalFooter {
    background: #F1F1F1;
    border-top: 1px solid #999;
    -moz-box-shadow: inset 0px 13px 12px -14px #888;
    -webkit-box-shadow: inset 0px 13px 12px -14px #888;
    box-shadow: inset 0px 13px 12px -14px #888;
}
.modalFooter p {
    color:#444;
    text-align:left;
    margin:0;
    padding: 5px;
}
.ok, .close, .cancel {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 22px;
    height: 22px;
    font-size: 10px;

}
.ok, .cancel {
    width:80px;
    float:right;
    margin-left:20px;
}
.ok:hover { background: #189CDA; }
.close:hover, .cancel:hover { background: #D4482D; }
.clear { float:none; clear: both; }

.inputfield{
    display: inline-block;
    text-align: right;
}
.css_button {
     font-size: 14px;
     font-family:Arial;
     font-weight:normal;
     -moz-border-radius: 8px;
     -webkit-border-radius: 8px;
     border-radius: 8px;
     border: 1px solid #dcdcdc;
     padding: 9px 18px;
     text-shadow:1px 1px 0px #ffffff;
     -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
     -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
     box-shadow:inset 1px 1px 0px 0px #ffffff;
     font-weight:normal;
     text-decoration:none;
     cursor: pointer;
     background:-webkit-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
     background:-moz-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
     background:-ms-linear-gradient(90deg, #e9e9e9 5%, #f9f9f9 100%);
     background:linear-gradient(180deg, #f9f9f9 5%, #e9e9e9 100%);
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
     /*background-color:#e9e9e9;*/
     color:#666666;
     display:inline-block;
}
.css_button:hover {
    background:-webkit-linear-gradient(90deg, #f9f9f9 5%, #e9e9e9 100%);
    background:-moz-linear-gradient(90deg, #f9f9f9 5%, #e9e9e9 100%);
    background:-ms-linear-gradient(90deg, #f9f9f9 5%, #e9e9e9 100%);
    background:linear-gradient(180deg, #e9e9e9 5%, #f9f9f9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    /*background-color:#f9f9f9;*/
}
.css_button:active {
    position:relative;
    top:1px;
}
/* This css button was generated by http://html-generator.weebly.com */